[2019-07-30 16:48] blackboxlogic opened #1 "Add Functional Tests"
Add a new project which tests each function in the client, including OAuth and BasicAuth.
It should output the success/failure of the tests.
It should get credentials and api url from a config file.

[2019-07-30 16:53] HarelM opened #2 "Support fetching trace file data by url"
Looking back at the original code the client derives from `BaseFileFetcher`.
I tried to remember why I did it and the only reason that came to my mind is the ability to get the data of a private trace you uploaded - i.e. when getting the traces list you only get the metadata, but in order to get the gpx file content you need to do another http request.
This is currently handled in my code partiall

[2019-08-05 14:32] blackboxlogic opened #3 "Publish a pre-release nuget package"
... for testing.
Probably at nuget.org

[2019-08-05 19:03] blackboxlogic opened #4 "Fix OsmSharp's Data Model"
I'm fixing up OsmSharp's handling of xml responses.
https://github.com/OsmSharp/core/issues/80
https://github.com/OsmSharp/core/issues/78
https://github.com/OsmSharp/core/issues/76

[2019-08-05 19:34] blackboxlogic commented on #4
A list of calls from https://wiki.openstreetmap.org/wiki/API_v0.6, checkmarks where verified.

- [ ] GET /api/versions
- [ ] GET /api/capabilities
- [ ] GET /api/0.6/map
- [ ] GET /api/0.6/permissions
- [ ] PUT /api/0.6/changeset/create
- [ ] GET /api/0.6/changeset/#id?include_discussion=true
- [ ] PUT /api/0.6/changeset/#id
- [ ] PUT /api/0.6/changeset/#id/close
- [ ] GET /api/0.6/changeset/#id/d

[2019-08-06 19:40] blackboxlogic commented on #3
I learned [how to publish a package](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio)
https://www.nuget.org/packages/OsmApiClient-beta/
No idea if it works.

[2019-08-06 19:41] blackboxlogic commented on #3
@HarelM Let me know if you want keys to update/manage the package.

[2019-08-06 19:43] blackboxlogic commented on #3
I will occasionally update the package

[2019-08-06 19:43] #3 closed

[2019-08-06 19:53] HarelM commented on #3
I think my NuGet user name is Harel.
As a side note, the name and the id of the package should not contain the word beta but instead the version number should, which will indicate NuGet that this is a pre release version.
Look for semver (senantic versioning) on Google.

[2019-08-06 20:21] blackboxlogic commented on #3
That published package is ahead of what is checked-in to git because it is using a version of OsmSharp that hasn't been merged yet. I'll try to work more cleanly.

[2019-08-14 18:14] blackboxlogic opened #5 "Test OAuth"
Create OAuth tests in the functional test project.

[2019-08-15 19:24] blackboxlogic opened #6 "Logging and Error Handling"
There is currently no logging and error handling is crude.

[2019-08-16 00:19] blackboxlogic opened #7 "Show license and give credit"
I'We should probably show a license and give credit to developers or projects that have contributed.

[2019-08-16 00:21] blackboxlogic opened #8 "Set up a proper release process"
The project (and nuget package?) should probably live with OsmSharp, and use their build chain and other tooling.

[2019-08-16 00:41] blackboxlogic commented on #1
I've written tests for everything except OAuth and gpx files.

[2019-08-16 00:41] #1 closed

[2019-08-16 00:42] blackboxlogic commented on #5
Create OAuth tests in the functional test project.

[2019-08-16 00:43] blackboxlogic commented on #4
I think I've made all the changes that need to be made in the OsmSharp data model. If they don't want to merge the pull requests then I guess we're forking OsmSharp. TBD.

[2019-08-16 11:27] HarelM commented on #7
I think MIT license is probably the right way to go.

[2019-08-16 11:32] HarelM commented on #6
I think logging should use the `Microsoft.Extensions.Logging`'s `ILogger` and allow the developer to inject his own logger either on instance creation or some sort of static method.

[2019-08-16 13:38] blackboxlogic commented on #6
What should be logged? My thoughts:
- Http requests url, including parameters, excluding credentials
- A notice that the request completed successfully
- Details of any errors
I don't think we should log:
- Content of a request
- Content of a response

[2019-08-16 13:43] blackboxlogic commented on #4
We still need to reference OsmSharp's nuget package, instead of including a fork of their sub-repo.
Waiting for merge of https://github.com/OsmSharp/core/pull/82

[2019-08-16 16:58] blackboxlogic commented on #7
I'm looking at OsmSharp as an example: https://github.com/OsmSharp/core/blob/master/LICENSE.md
Should there be a statement limiting liability? (I think yes)
Should there be a copyright notice? (I think yes) If yes do you want your name on it?

[2019-08-17 00:29] blackboxlogic commented on #4
Also, looking like we're still missing
- Dictionary<string, string> User.Preferences
- Track GpxFile.Track
- string GpxFile.Track.Name
- string GpxFile.Track.Description
- string GpxFile.Track.URL
- TrackSegment[] GpxFile.Track.TrackSegments
- TrackPoint[] GpxFile.Track.TrackSegment.TrackPoints
- long? GpxFile.Track.TrackSegment.TrackPoint.Latitude
- long? GpxFile.Track.TrackSegment.TrackPoint.Lon

[2019-08-17 04:15] HarelM commented on #7
There was an option in Github to automatically add a license file, I think...
In any case, sure, feel free to add my name: Harel Mazor

[2019-08-17 04:20] HarelM commented on #4
Gpx file scheme, reader and writer can be taken from NTS.IO.GPX.
Which API method does the track belongs to? Wouldn't it be enough to use `stream`?

[2019-08-17 04:23] HarelM commented on #6
Sounds about right, much like what asp.net is writing to the log when a request arrives.

[2019-08-18 03:17] blackboxlogic commented on #4
So... the data that comes back from
GET /api/0.6/trackpoints?bbox=left,bottom,right,top&page=pageNumber
is gpx version 1.0
and https://github.com/NetTopologySuite/NetTopologySuite.IO.GPX/issues/35

I've made https://github.com/openstreetmap/openstreetmap-website/issues/2350 but I'll probably not be able to use NTS.IO.GPX

[2019-08-18 19:15] blackboxlogic commented on #2
I think I just implemented this. Have a look
https://github.com/blackboxlogic/OsmApiClient/blob/bbd97a9ecfe71d40ce3794c1630cb0559b00e424/src/AuthClient.cs#L218

[2019-08-18 19:36] HarelM commented on #2
That looks great! The only problem with this implementation is that it assumes the file is actually a GPX file where you can get gzipped (gz extension) file and also gz.bz2.
I had to implement a chain of file converters in order to get the actual content of the trace file.
I'm not sure this is the responsibility of this client and so I think it would be safer to return a stream and let the develop

[2019-08-18 19:54] blackboxlogic commented on #4
After doing the work, I now see that just returning a stream is the right answer for both calls that get gpx data. Thanks for trying to save me the effort.

[2019-08-18 20:36] blackboxlogic commented on #2
A Stream it is.

[2019-08-18 20:43] blackboxlogic commented on #7
I've added license information to the repository and the nuget package.

[2019-08-18 20:43] #7 closed

[2019-08-19 05:42] HarelM commented on #2
I wanted to say yes, but the file name is lost in current implementation:
See here the content disposition usage to get the file name. this is important in order to know how to read the file and how to call it:
https://github.com/IsraelHikingMap/Site/blob/d11d20d9e7b1c2b92e800e421f4045d8b5b56d44/IsraelHiking.DataAccess/BaseFileFetcherGateway.cs#L27
Unfortunately I couldn't find a way to store both

[2019-08-19 16:55] blackboxlogic commented on #2
The filename I got back is "970.gpx", which is just the traceId and a file extension (not the filename that was provided when the trace was uploaded). The calling code already knows the ID because it was part of the request so the file extension is the only valuable part. I'm looking at the "content type" header which in this case has "{application/gpx+xml}". That seems like it could be useful?
I'

[2019-08-19 17:17] blackboxlogic opened #9 "Add the 'Notes' calls"

[2019-08-19 17:18] blackboxlogic opened #10 "Add the 'User.Preferences' calls"

[2019-08-19 17:20] HarelM commented on #2
Looks great!
Can I try and use this client or we still need @xvik pre release in order to try it out?

[2019-08-19 17:44] blackboxlogic commented on #2
I put a fork of OsmSharp as a submodule, so we don't _need_ that merge. I just created [a beta nuget package](https://www.nuget.org/packages/OsmApiClient/0.0.1-beta) which you can try out.

[2019-08-20 16:08] HarelM opened #11 "Add Documentation"
When the interfaces and classes settles down we should add some examples to the readme.md file instructing how to use this library.

[2019-08-20 16:09] HarelM opened #12 "Add Factories and intefaces"
For testing and IOC it is required that this library has more interfaces and a factory to create the right client.

[2019-08-20 18:23] #10 closed

[2019-08-20 19:38] HarelM commented on #10
It will be best if you could link the relevant commit to the relevant issue.
This is easily done by referencing the issue number in the commit message.
You can also close the issue using a commit by writing Resolves #10, or Fixes #10.
relevant commit: 665139018e729da3f115733d604f129b457ac7d0
See here:
https://help.github.com/en/articles/closing-issues-using-keywords
Extremely useful :-)

[2019-08-21 02:31] blackboxlogic commented on #10
Good to know for next time.
This issue was resolved by https://github.com/blackboxlogic/OsmApiClient/commit/665139018e729da3f115733d604f129b457ac7d0

[2019-08-22 15:43] #9 closed

[2019-08-22 16:18] blackboxlogic commented on #4
All major changes to OsmSharp are done. The data model now supports all calls to the API. Any further changes will be minor fixes.

[2019-08-23 18:36] blackboxlogic commented on #5
@HarelM can I leave this to you? If you add OAuth creds in OsmApiClient\FunctionalTests\appsettings.json and run the project, it'll give you an answer. Note that this does make map changes as the user, so keep it to the DEV OSM instance.

[2019-08-25 11:24] HarelM commented on #5
@blackboxlogic Sure, I have assigned it to me.

[2019-08-25 13:27] blackboxlogic commented on #6
Regarding DI for `Ilogger`, putting it as a parameter of the constructor makes it required, where really this feature can run without a logger just fine. Thoughts?
- Overloaded constructors (I've heard bad things about DI and overloaded constructors)
- Don't put it in the constructor, put it as a property with a public setter (I don't think this works well with Core's DI framework)
- Yeah it's req

[2019-08-25 14:26] HarelM commented on #6
See #12 - use factory. The factory should be part of the DI as the client is content dependant.

[2019-08-25 16:38] #5 closed

[2019-08-25 16:44] HarelM commented on #5
I have fixed what needed to be fixed with small changes to the code. Most of it seems to be working as expected, I don't have a user which uses a full permissions oauth client, but the test I've made are sufficient.

[2019-08-25 16:44] HarelM commented on #12
@blackboxlogic let me know if you want me to handle this. It shouldn't take more than 30 minutes...

[2019-08-25 16:52] HarelM commented on #2
This can probably be closed due to the use of the `TypedStream`.

[2019-08-25 16:52] #2 closed

[2019-08-25 20:05] blackboxlogic commented on #12
Yes please.

I was trying to get HttpClient passed in to the Client constructor as well (instead of instantiating a new one with each call) and having authentication happen once but:
- `OAuthClient.AddAuthentication` seems like it needs to know the request url and request method to authenticate the call, which changes with each call?
- If a single HttpClient instance is shared between calls, and a

[2019-08-25 20:26] HarelM commented on #12
I'll take care of this tomorrow. HttpClient should be created in each call, I don't see any problem with thread safely since the client code doesn't have a state, each request is separated from the other.
HttpClient shouldn't be reused as far as I know, I've also added the "using" to make sure it's destroyed. Every example I've seen that uses HttpClient has this pattern, so I'm pretty sure this is

[2019-08-25 20:32] blackboxlogic commented on #12
https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/
https://dotnetcoretutorials.com/2018/05/03/httpclient-factories-in-net-core-2-1/

The TLDR
- Don't dispose HttpClient
- Don't create a new one for each call

[2019-08-26 19:05] HarelM commented on #12
Cool! I wasn't aware of these articles :-).
Here's what I found which solved the question about multiple http clients:
https://www.oipapio.com/question-9404295
I have tested this to work and will commit it soon.
In any case, I'm trying to create the factory class but I'm a bit confused about the `Client` class - at first I thought it is a read only client for get request, but then I saw that it ha

[2019-08-26 19:38] HarelM commented on #12
Thanks for the detailed response.
I'll commit my changes soon so you can review them, feel free to refactor it as well.
I didn't know un-authenticated user can post notes. it's extremely weird... :-)
I'll just add a factory to reduce the need to pass logger and httpclient for now and we'll decide later if this is truly needed or just an over design...

[2019-08-26 20:01] HarelM commented on #12
@blackboxlogic see my related commit. feel free to review it, or even better change what's bugging you.
I have tested only the oauth client, so please test the basic client as well.
I've added a logger interface which might handle part of #6.
Let me know if you need me to handle anything else.

[2019-08-27 15:41] #6 closed

[2019-08-27 17:04] #11 closed

[2019-08-28 18:38] HarelM commented on #8
Unfortunately, I don't: I think this package should depend on OSMSharp rather than include it - and therefore it needs the latest changes merge to OSM Sharp.
I also think the first non pre-release version should come from the OSM Sharp pipe line.
Codewise - I do think this library is ready.
@xivk - I think it's time to fork this library into OSM sharp and create its first non pre-release package.

[2019-08-28 18:54] HarelM commented on #8
Yup, I use OSMSharp in my production server, it performs very well, so I needed to fix a few small issues with the OSM API, and you continued my work here.
But unfortunately, I don't have any privileges on the OSMSharp core repository :-(

[2019-08-28 19:12] xivk commented on #8
Any action that you are waiting for me to do? I have a little bit of time tomorrow.

Do I fork this project or copy it to a repository hosted under OsmSharp? If I give you access @HarelM you can just move it over or something?

There is probably some work needed first before a release is possible, like removing OsmSharp as a git submodule and integrating it as a package and probably integrating th

[2019-08-28 19:18] HarelM commented on #8
To elaborate what @blackboxlogic wrote: in order to remove the submodule that is currently there we need you to merge the following PR:
https://github.com/OsmSharp/core/pull/82
After that we need you to create an OSM Sharp NuGet package so we can referenced it from this project. And after that, we need to understand how to integrate it in the OSM Sharp company repository, here at github.
If you ca

[2019-08-28 19:30] xivk commented on #8
Done now, ping me when you are ready with this one.

[2019-08-28 19:33] HarelM commented on #8
@xivk does merging to develop branch will create a NuGet package automatically?

[2019-08-28 19:34] xivk commented on #8
Yes, it is building now...

[2019-08-29 21:02] blackboxlogic opened #13 "POST Comment to a Note requires Auth"
It just [changed](https://github.com/openstreetmap/openstreetmap-website/commit/783b5e3729228908d7404ae7404af1023501a906#diff-54ec9b9aefad9aa7d15e2afc4c494da5R7)

[2019-08-29 23:17] blackboxlogic commented on #13
and [here](https://github.com/openstreetmap/openstreetmap-website/issues/1543)

[2019-08-31 14:57] blackboxlogic commented on #8
@HarelM do you think it would be ok to reference a [pre-rease](https://www.nuget.org/packages/OsmSharp/7.0.0-pre001)

[2019-09-01 10:39] HarelM commented on #8
As a rule, a pre-release nuget can reference a pre release and a stable should only reference stable nugets. So until the stable version is released we should publish a pre-release, I think...

[2019-09-01 22:21] #13 closed

[2019-09-07 02:53] blackboxlogic commented on #8
What's the next step here?

[2019-09-07 14:14] HarelM commented on #8
Moving this project to OSMSharp i guess...
I still want to try and integrate it in my web site but this can be done in parallel...

[2019-09-17 18:02] blackboxlogic commented on #8
@xivk We're hoping for your guidance for moving this into OSMSharp's domain.

[2019-09-25 02:53] blackboxlogic commented on #8
Seems like this stalled?

[2019-09-25 09:07] xivk commented on #8
I added this project:

https://github.com/OsmSharp/osm-api-client

And I've given you access to it, feel free to push the code there and then we can setup a build process.

[2019-09-25 09:14] xivk commented on #8
Sorry things are move so slowly, once this is setup you will have all the freedom to manage this.

@blackboxlogic can you email me so I can make a useraccount on the build server?

[2019-09-28 02:48] blackboxlogic commented on #8
@xivk Your email isn't listed in github (or I just can't find it)

I can be reached at blackboxlogic@gmail.com

[2019-09-28 11:46] xivk commented on #8
You should now have access to the build server too, just sent you over some details.

[2019-10-02 15:43] blackboxlogic commented on #8
I don't seem to have write access to that project in github.

Also, looking to retain commit history, would it make sense to (in order of preference):
* [Tansfer](https://help.github.com/en/articles/transferring-a-repository)
* [Copy](https://help.github.com/en/articles/duplicating-a-repository)
* Fork from this project
* Just commit the files as they are now, losing history

Thoughts?

[2019-10-02 16:17] xivk commented on #8
If you just clone this repo and then do:

`git remote add origin git@github.com:OsmSharp/osm-api-client.git`
`git push -u origin master`

You still need to accept the invite I sent you before you have push access.

[2019-10-08 17:41] blackboxlogic commented on #8
I don't have permissions in TeamCity to create a new project.

[2019-10-21 18:58] blackboxlogic commented on #8
@xivk Just checking in.

[2020-01-29 16:54] blackboxlogic commented on #8
@HarelM I've got github actions set up.
Commits to master trigger a build. If the project's "Package Version" has been updated then a nuget package gets published with that version.
I just released 0.0.1-beta.7 which treats versions and Ids as longs (instead of int). I'm waiting for OsmSharp to release version 7 before I put this to version 1.0.0
I'm open to feedback and improvement.

@xivk can yo

[2020-01-29 16:54] #8 closed

[2020-01-30 06:57] HarelM commented on #8
I'm using this code in production and I didn't encounter any issue with it. Thanks!
I don't have anything currently to add to this client.
The only comment I have currently is how the functional test are written - It might be better to use the MSTest and split every operation to its own test by using `[TestInitialize]` and `[TestCleanup]` so that you can test every part of the API separately.
Othe

[2020-02-02 18:31] blackboxlogic opened #15 "Improve tests"
Use the MSTest and split every operation to its own test by using `[TestInitialize]` and `[TestCleanup]` so that you can test every part of the API separately.

_Originally posted by @HarelM in https://github.com/blackboxlogic/OsmApiClient/issues/8#issuecomment-580110371_

[2020-02-02 21:04] HarelM opened #16 "Release an NuGet version mismatch"
Seems like the NuGet version is 0.0.1 while the release name is 1.0.0.
Probably worth aligning :-)

[2020-02-03 14:27] blackboxlogic commented on #16
Thanks, I changed the tag. I don't have a plan for how/when to increment the version. I'll figure it out when I need to. I thought I'd leave all the options open by starting at 0.0.1

[2020-02-03 14:27] #16 closed

[2020-02-15 18:08] HarelM opened #18 "Add request address to response logging"
There are situations where multiple requests are sent, some may fail.
If request are sent in parallel there's no way to know which request failed and which didn't.
Adding the address and method to the logging should solve this.

[2020-02-15 19:03] blackboxlogic commented on #18
Adding the full address and http method seems like a lot of noise in the logs and it might be hard to pipe that information to each log statement. What do you think about adding thread numbers instead? For example:

[code]

[2020-02-15 19:07] HarelM commented on #18
What about just printing the response with all the info without printing the request? This way you have a single line with all the info and not two lines.

[2020-02-17 23:50] blackboxlogic commented on #18
That sounds like the way to go. Would it help you to have this changed quickly?

[2020-02-18 06:48] HarelM commented on #18
It's not urgent for me.

[2020-06-06 12:13] HarelM commented on #18
@blackboxlogic Please review my changes. Looking at the logs of my server this what seems to be the right amount of logs to me.
Auth string feels like a hacky solution and might be better with an enum or clientType property or both.

[2020-06-06 13:14] HarelM commented on #15
@blackboxlogic feel free to review my initial commit.
I admit, I got a bit lazy - in theory, every assert should have its own test, but I have grouped them a bit by topics.
P.S. every time this tests run a note is added without being deleted (to dev env, I know, but still)?

[2020-06-06 13:32] blackboxlogic commented on #18
I just removed some of the string manipulation you put in, I hope an extra space at the end of a log line doesn't break anything.

I'd consider using `GetType().Name` instead of having the auth function return a string. This will be the name of the child class, like "NonAuthClient" or "OAuthClient". Would that serve your purpose? Downside: when you request `Get:Node/1234` from an authenticated cli

[2020-06-06 13:38] blackboxlogic commented on #15
I don't mind lazy. I'll look at the test changes later today.
This performs _every_ operation, including updating elements. This is what the DEV environment is for. That's why:
[code]

[2020-06-06 13:45] HarelM commented on #18
Seems good to me.

[2020-06-06 13:47] HarelM commented on #15
Ok, I'll see if I can check-in the auth tests as well, I think I'll add a comment in the test initialize so you can select which client to test since these tests should only run manually, I think...

[2020-06-06 15:40] blackboxlogic commented on #18
I pushed that.
For the record, logs no longer have headers, and no longer have the token for oauth. This is probably a good thing.

[2020-06-06 15:40] #18 closed

[2020-06-06 16:35] blackboxlogic commented on #15
It looks good to me. I'm trying to get the automation to run the tests before publishing the Nuget package. Once I have that, are you ready for v0.0.5 to be released?

[2020-06-06 16:46] HarelM commented on #15
Sure :-)

[2020-06-06 17:22] blackboxlogic commented on #15
Thank you for your work. Those two things had been bugging me (but not enough to do them).
https://www.nuget.org/packages/OsmApiClient/0.0.5

[2020-06-06 17:27] HarelM commented on #15
I'll keep this one open until I commit the rest of the tests if you font mind. Should be today-tomorrow...

[2020-06-06 18:01] blackboxlogic commented on #15
Of course, didn't realize there was more to come. Up the package version, merge to master, and you'll get a new nuget version published. No need to check with me.

[2020-06-06 18:45] HarelM commented on #15
These are only tests, I don't plan to change the code, so I don't see a good reason to publish a new version.
I'm planning on deleting the functional tests project if it's OK with you...

[2020-06-06 18:56] blackboxlogic commented on #15
Yes, that would be for the better. The auth tests need their credentials configurable, but preferably not checked in. One option: Github has a place where it stores repo secrets. Another option is a confirmation file which is ignored by git. Let me know if you don't have access or have questions.

Though I guess it's not the end of the world if DEV credentials get leaked.

[2020-06-06 19:00] HarelM commented on #15
I agree, I added a comment in the test class to enter it manually and not check-in.
I'm guessing that for now (and probably forever :-)) it's probably only the two of us, so I don't expect a problem here - I prefer not to run these tests every commit so that not to spam dev OSM environment, but I'm open for suggestions...

[2020-06-06 19:00] #15 closed

[2020-06-06 19:01] HarelM commented on #15
In other words, feel free to change it the way you like it and works for you...

[2020-06-13 22:03] blackboxlogic opened #23 "Support Overpass-Turbo"
I put this here as something which could be added. Please comment if this would be helpful or you.

[2020-06-14 07:45] HarelM commented on #23
I'm currently not using overpass turbo, I used it in the past from js code, but since my database on the server is up to date with latest osm changes I use it instead of querying overpass turbo.
It could be a nice addition though :-)

[2020-06-14 07:49] HarelM commented on #23
https://github.com/OffenesJena/OSMImports
Looks abandoned, but the code can probably be migrated to latest .net with little effort...

[2020-08-09 08:52] Shkarface opened #25 "Default xml deserialization potentially unsafe"
### The Problem

The default serializer code uses the stream directly to deserialize xml to target type:
[code]
This does not conform with [(CA5369)](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5369?view=vs-2019) which states that

### The Solution

Create an xml reader and use it for deserialization:
[code]

But there is a problem when deserializing OsmChange the create,modify an

[2020-08-09 10:50] HarelM commented on #25
Thanks for the input.
Feel free to send a PR in both OsmSharp and here to resolve this.
I'm not sure how to fix this... :-/

[2020-08-09 11:30] blackboxlogic commented on #25
Thanks for a detailed bug report!

[code]
The XML comes straight from OSM servers which I trust as much as anything. Unless you're letting end users set the OSM base url, or if we've got a bug that does bad things when composing the request url, or OSM has a a vulnerability, I don't see how the result content would be untrusted.

OsmSharp's XML implementation is a little fragile, so I'm not surpri

[2021-04-01 17:48] #25 closed

[2021-04-20 09:47] FObermaier opened #26 "Constraints for Bounds.[Min|Max]Latitude in Validate are wrong"
Valid latitude values are in the Range [-90, 90]:
https://github.com/blackboxlogic/OsmApiClient/blob/da373dc231103d43dbacc8cc63cf4901ab568535/src/Validate.cs#L16-L23

[2021-04-20 09:49] HarelM commented on #26
Can you send a pull request to fix this?

[2021-04-20 09:54] HarelM opened #27 "Allow using OAuth 2"
Seems like OAuth 2 should be supported soon in OSM and it's worth adding it to this library once it is landed.
See the following issue;
https://github.com/openstreetmap/openstreetmap-website/issues/1408
This is more of a place holder for now...

[2021-04-20 10:13] HarelM commented on #26
P.S. Are you using our package?

[2021-04-20 15:57] #26 closed

[2021-04-20 15:59] blackboxlogic commented on #26
Thanks for noticing this bug. I've just fixed it and I'm **leaning toward not releasing a new version** of the nuget package (because it's so minor), but I would if this is impacting your use-case. Let me know.

[2021-04-20 19:03] FObermaier commented on #26
Thanks, not releasing a new package is fine. I'm just investigating if this library can help me with a quick'n dirty utility...

[2021-05-11 10:13] ShabalinLev01 opened #28 "Broken parameters in URL request when change CultureInfo"
When I Change CultureInfo in my application from **en-US** to **ru-RU/fr-FR/es-ES**. I catch the error _"The parameter bbox is required, and must be of the form min_lon,min_lat,max_lon,max_lat."_
Coordinates change format from **"0.####"** to **"0,####"**. I think the problem in [ToString(Bounds)](https://github.com/blackboxlogic/OsmApiClient/blob/b4fe3a880fa471b1454eb515d8397f434e14ca05/src/NonAu

[2021-05-11 12:15] blackboxlogic commented on #28
Cool bug! Without looking at the code, your diagnosis seems correct. You're welcome to make a pull request. If you do, let me know so we don't both try to fix the same thing. Also consider adding a unit test.

If not, I might get to it this weekend. No promises.

[2021-05-13 02:32] blackboxlogic commented on #28
@ShabalinLev01
Version 0.0.7 of the [nuget package](https://www.nuget.org/packages/OsmApiClient) has been published with your changes. I hope it serves you well.

[2021-06-24 20:39] blackboxlogic commented on #27
I saw the other ticket get closed. Does that mean this ticket is ready? I don't have enough experience with OAuth to feel comfortable implementing this myself. Do you have time/energy to take this on?

[2021-06-24 20:43] HarelM commented on #27
Sure, I saw the ticket getting closed too. I'll look into it.
I might consider removing oath1 support if this works good to avoid maintenance of both protocols in the code...
It might take me a few days to get into it though...

[2021-06-24 20:55] blackboxlogic commented on #27
Since OAuth v1 was implemented in a [single class](https://github.com/blackboxlogic/OsmApiClient/blob/master/src/OAuthClient.cs), I'm hopeful that v2 could be implemented without removing v1 if there's a possibility that v1 may still be useful.

[2021-06-24 20:59] HarelM commented on #27
I'll see what I can do. In theory whoever would like to use OAuth 1 can simply take an older NuGet package that is not the latest (when this is shipped).
One of the motivation besides maintenance is to reduce dependency on another package that can also go stale...
In any case, I need to investigate how to do it and then we can further discuss this...

[2021-10-11 15:02] jayjupdhig opened #30 "have an example hot to verify that an adress (city, zip, street, but NOT name) exists?"
have an example hot to verify that an adress (city, zip, street, but NOT name) exists?

thx for feedback.

kind regards,
jan

[2021-10-11 18:16] #30 closed, assigned to nobody

[2022-01-25 17:47] Lelelo1 opened #31 "Problem creating map"
I have setup client like in docs and shown in the tests. I create a bounding box with:
[code]

![Screen Shot 2022-01-25 at 18 40 47](https://user-images.githubusercontent.com/42244983/151029963-bc2d019c-ed1d-4e0b-9aa6-a8a3ed9abddc.png)

This area has places in when I use overpass turbo to get nodes etc.

---

I suspect something might be wrong with the url. I also don't understand which one to use

[2022-01-25 18:38] blackboxlogic commented on #31
The example code on this github project shows the dev server URL (_not production_). The OSM dev server has relatively little data on it, so that would explain why you didn't receive any elements. That's the right place to do testing but missing data is a down-side.

The URL for the production server can be found here: https://wiki.openstreetmap.org/wiki/API_v0.6#URL_.2B_authentication

I've updat

[2022-01-26 07:57] Lelelo1 commented on #31
![Screen Shot 2022-01-26 at 08 55 54](https://user-images.githubusercontent.com/42244983/151124241-36a9d8a5-ff4a-49ec-92af-369e9f217b7d.png)

I don't really understand. Using the link I see there returns the website in html it seem

[2022-01-26 10:03] HarelM commented on #31
Can you please share a test code much like the test that are here:
https://github.com/blackboxlogic/OsmApiClient/blob/16d1429c18570fa5b242f312e4b7f5043f5d4cf7/OsmSharp.IO.API.Tests/NonAuthTests.cs#L48
So we can understand what's not working?
It's not possible to do this from the screenshots you are sending...

[2022-01-26 10:51] Lelelo1 commented on #31
[code]

I when I look on the coordinates: https://overpass-turbo.eu it has nodes.

---

Here is the end part of the stack trace (after the html):

  at OsmSharp.IO.API.NonAuthClient.VerifyAndLogReponse (System.Net.Http.HttpResponseMessage response, System.String logMessage) [0x00103] in <1baaa0249dc84ef28f226d49c84f2b69>:0
  at OsmSharp.IO.API.NonAuthClient.Get (System.String address, System.Actio

[2022-01-26 10:55] HarelM commented on #31
Can you pass a proper logger and not `null`? Does it has a different effect?

[2022-01-26 11:13] Lelelo1 commented on #31
I added the same logger as in the test project

[code]

  at OsmSharp.IO.API.NonAuthClient.VerifyAndLogReponse (System.Net.Http.HttpResponseMessage response, System.String logMessage) [0x00103] in <1baaa0249dc84ef28f226d49c84f2b69>:0
  at OsmSharp.IO.API.NonAuthClient.Get (System.String address, System.Action`1[T] auth) [0x00130] in <1baaa0249dc84ef28f226d49c84f2b69>:0
  at OsmSharp.IO.API.NonAuth

[2022-01-26 12:47] HarelM commented on #31
Can you try and clone this project and run it from the tests?
I want to make sure this is not related to the environment in which it runs.
The tests we have make sure things should work as expected so it's surprising to see this exception...

[2022-01-26 16:11] Lelelo1 commented on #31
I notice that the url indeed seem to get constructed wrong in some way?

[2022-01-26 16:19] Lelelo1 commented on #31
It should be:

(Notice the second api next to 'org')

[2022-01-26 16:35] Lelelo1 commented on #31
Also I noticed the tests are given latitude, longitude the opposite!

[2022-01-26 16:41] blackboxlogic commented on #31
Thanks for your persistence.
I was able to get the tests to run* by using this URL: https://www.openstreetmap.org/api/

So, for you, I recommend the following:
[code]

@HarelM I wonder if we should make a change to this library? All I can think of would be adding URL constants (and then keeping them up to date). I'm hesitant to do that for the same reason I don't want to put the prod URL in our do

[2022-01-26 18:04] blackboxlogic commented on #31
@Lelelo1 The [first web search result](https://www.handlebar-online.com/other/what-are-the-coordinates-of-bounding-box/#How_to_calculate_the_bounding_box_for_a_given_lat) I found seems to agree with the lat/lon in our tests.

What do you think they should be and why do you think that?

[2022-01-26 18:09] HarelM commented on #31
We could make sure the url is valid and throw a relevant error message if not, I don't think it will be a breaking change.
We can also change the major version number to signal a breaking change, and introduce a breaking change.
We can update the docs to better explain what are the options and not change the code at all.
All options are valid from my point of view.

[2022-01-26 22:02] blackboxlogic commented on #31
I've [updated](https://github.com/blackboxlogic/OsmApiClient/commit/50c86498f47ed0856279303de5624fdb27f1aef2) the ReadMe, and added string constants (in case we do another release).

[2022-01-26 22:02] #31 closed

[2022-01-27 12:20] Lelelo1 commented on #31
@blackboxlogic

Everything should be correct. I mixed it up myself since they are set in the "wrong" order. Usually latitude is given first.

[2022-01-30 10:40] Lelelo1 commented on #23
I am interested in having overpass

[2022-01-30 10:49] HarelM commented on #23
Here's my implementation if anyone is interested.
It is very specific for a query I'm doing related to wikipedia tags but I'm sure it can be altered to be more generic:
https://github.com/IsraelHikingMap/Site/blob/f193e70f1278c5deca1d29c07c087b20ffffd6c1/IsraelHiking.DataAccess/OverpassTurboGateway.cs
Feel free to copy it here if needed by PR or other method.

[2022-01-30 11:05] Lelelo1 commented on #23
Great thanks. I will experiment a bit with OSMImports

[2022-01-30 15:14] Lelelo1 commented on #23
Seems like it works but as I see it it does some old fashioned json parsing, web request. It also doesn't provide *bbox* to be passed in. What I really liked is the chained queries but it is a bit difficult to implement. It feels good but technically - why would you specify tags many times. Why no all at the same time?

[code]

What I need is construction of the url so I will simply look and take

[2022-01-30 17:23] HarelM commented on #23
Yup, you can make it a lot nicer, especially using chaining etc :-)

[2022-02-01 19:37] jasonhjohnson commented on #23
@Lelelo1 @HarelM Interested to see what you all come up with

[2022-02-01 20:05] HarelM commented on #23
I don't have plans to pursue this soon (if at all), but a PR with a class to handle this would be very much welcome :-)

[2022-02-01 21:35] blackboxlogic commented on #23
The [overpass turbo language](https://wiki.openstreetmap.org/wiki/Overpass_API/Language_Guide) is _complicated_ and I have given up on trying to model any part of it in c#. Maybe an implementation already exists, but I looked a year ago and there wasn't really anything.

However, it would be trivial to accept a query string (composed by someone else), send the request, and parse the result (assumi

[2022-02-01 22:09] HarelM commented on #23
The results can be several output types: osm, geojson, csv.
I find it difficult to really wrap this in something genetic enough on one hand and strongly typed on the other.
I trend to say that http client is probably your best friend here...
I might be wrong though, but this is what I did in my implementation...

[2022-02-02 08:47] Lelelo1 commented on #23
I agree.

I have working overpass querying:

[code]

It is separate from the *OsmApiClient* api currently.

The constructor takes permanent values for the query, the keys and values are added with chaining while request call puts the strings together.

I could add it into *OsmApiClient* but then the http client would take to accept custom urls are mentioned

[code]

[2022-02-02 09:26] HarelM commented on #23
I think this class is a good starting point :-)
I think that creating a request query and executing it can be two separate responsibilities.
Note, as can be seen in my class that there's a way to try and query another server in order to avoid some of the query limitations that currently exist in overpass turbo, this is not related to the query string creation/modification of couse.
Is there a way

[2022-02-02 15:55] Lelelo1 commented on #23
I agree request and query building should probably be separated.

I don't think requesting from different servers should be a responsibility of the query building either. Maybe query builder would create this part:

And in *NonAuthClient* eg it could prepend (baseUrl1 += query) and try like in your wikipedia implementation.

When it comes node, way and relation the I think this line can be changed

[2022-02-02 18:03] jasonhjohnson commented on #23
@Lelelo1 You are amazing

[2022-02-03 17:44] Lelelo1 commented on #23
Here is proposal of the overpass client.

[code]

[2022-02-06 08:45] Lelelo1 commented on #23
So what list of urls should be used? And can someone make tests for the overpass client?

[2022-02-06 08:47] Lelelo1 commented on #23
What urls should be used?

[2022-02-07 17:33] HarelM commented on #23
I'll review the PR in the next few days, hopefully, and if everything is approved we'll need to release a new version.

[2022-02-07 18:34] blackboxlogic commented on #23
@Lelelo1 If you want the feature _right now_, create a fork and reference that in your project.
Thanks for making a PR, I meant to look at it yesterday but it will probably be this weekend. I'll likely have some questions/feedback/changes. Once merged, it only takes a few minutes to publish a new version to Nuget.org.
If a week goes by and you don't see any movement, please do pester us.
-Alex

[2022-02-08 08:29] Lelelo1 commented on #23
Ok I will make a pr then.

I am having problems creating test:

![runTests](https://user-images.githubusercontent.com/42244983/152947074-477af0e2-3049-42eb-b885-156901f17a09.png)

 *Run Tests*  is greyed out
 The file looks like:
 https://github.com/Lelelo1/OsmApiClient/blob/overpass/OsmSharp.IO.API.Tests/OverpassTests.cs

 I can run existing tests but how do you I create new tests (I am using Vis

[2022-02-08 10:47] HarelM commented on #23
Visual studio for mac is just the worst.
If you can, try using rider from jet brains.
It's free for open source developers.

[2022-02-08 16:22] Lelelo1 commented on #23
It as able to get it to work in visual studio code.

Should timeout and data (json eg) be configurable? If so should it be in the client or in the query?

[2022-02-08 18:01] blackboxlogic commented on #23
I think the OverpassClient should only accept a query string, make the request, and parse the result. That way the `OverpassQuery` can change over time, or calling code could get the query from anywhere else (like copy/paste out of the OverpassTuro website).

[2022-02-08 19:56] HarelM commented on #23
I'm not even sure it should parse the results as there can be few response formats (csv, json, osm, others?).

[2022-02-08 20:25] blackboxlogic commented on #23
Then get rid of `OverpassClient` entirely? Seems like the value is in `OverpassQuery`.

[2022-02-08 20:29] HarelM commented on #23
That's actually a valid option as the client won't do much beside slightly wrap httpclient.

[2022-02-09 08:02] Lelelo1 commented on #23
There is some value in (re)using the `Osm` model I think. It works when setting Xml to be returned

[2022-02-09 09:47] HarelM commented on #23
No argue here. But the client shouldn't only support one format, it should at least support osm, json and csv (I'm not familiar with others).
It might be 3 different client and a factory to create them based on the required return format but narrowing it to just one format is not the right solution for this library, I believe, as this library should support as many cases as possible.

[2022-02-09 10:57] Lelelo1 commented on #23
To make it simple we can indeed have the `OverpassQuery` on it's own.

However I think you would want to use C# models in the end regardless of the serialization type and use built in (shared ideally) client.

[2022-02-10 09:14] Lelelo1 commented on #23
Also, there is need of testing the `OverpassQuery`. What would that look like?

[2022-02-10 09:20] HarelM commented on #23
Unit test to try and create as many scenarios as possible to make sure that adding nodes, ways, attributes, etc. generates the right query string I believe.

[2022-02-10 09:27] Lelelo1 commented on #23
It's just that I need to a client to test the query string?

[2022-02-10 10:19] Lelelo1 commented on #23
I will probably have pr up at the start of next week

[2022-02-10 12:14] Lelelo1 commented on #23
It can be closed

[2022-05-17 18:57] blackboxlogic opened #33 "More Changset Validation"
The API got some new limits [here](https://github.com/openstreetmap/openstreetmap-website/issues/1711) and [here](https://github.com/openstreetmap/openstreetmap-website/pull/3440). Check the [Capabilities](https://www.openstreetmap.org/api/0.6/capabilities) client side before sending a changeset.

This is low priority, will consider it if we're making other changes already.

[2022-05-17 19:07] HarelM commented on #33
Since this error will be returned from the OSM server (I hope) I'm not sure there's a real need to introduce logic here...?
Just a thought, you might have something in mind though.

[2022-08-02 15:08] elr0berto opened #34 "Can't install OsmApiClient in nuget - VS2022"
Unable to find a version of 'OsmSharp' that is compatible with 'OsmApiClient 0.0.7 constraint: OsmSharp (>= 7.0.0-pre014)'.

[2022-08-02 16:21] blackboxlogic commented on #34
See https://www.nuget.org/packages/OsmSharp/#versions-body-tab

You'll need to check this box in nuget package manager:
![image](https://user-images.githubusercontent.com/31355456/182423954-b4e5194b-0a8c-4f32-bdbd-4f9eb87b6230.png)

I wish OsmSharp with release a proper 7.0.0 so I didn't need to reference a pre-release, I'm sure they have their reasons.

[2022-08-02 17:14] elr0berto commented on #34
Ok, thanks for the quick support!

[2022-08-03 05:53] #34 closed

[2022-11-27 20:58] HarelM commented on #27
I think I'll be needing both oauth 1 and 2 at the same time to allow easier migration to customers, so I think I'll keep 1.0 around.
Also since I'm using docker I don't care any more about dependencies much, as the docker image either has them inside or not, and the upgrade process is super easy.
Bottom line, I'll keep them both for now.
Commit with the (super simple) implementation will be here i

[2022-11-27 20:59] #27 closed